[honeypot]
# Hostname realista para simular um servidor corporativo
hostname = srv-prod-app01

# Logs estruturados em formato JSON
log_path = var/log/cowrie
download_path = var/lib/cowrie/downloads
tty_path = var/lib/cowrie/tty

# Interatividade crível
fake_addr = 192.168.1.150
internet_facing_ip = 44.211.50.36

[ssh]
enabled = true
# Porta interna onde o Cowrie escuta dentro do container
listen_endpoints = tcp:2222:interface=0.0.0.0
# Banner crível do OpenSSH Ubuntu
version = SSH-2.0-OpenSSH_8.9p1 Ubuntu-3ubuntu0.7


[telnet]
# Desabilitado para focar em SSH
enabled = false

[output_jsonlog]
enabled = true
logfile = var/log/cowrie/cowrie.json
epoch_timestamp = false
